{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="/static/css/conditions.css">

<div class="other-content">
    <div class="container-connect">
        <div class="connect-baner blue-back">
            <div class="baner-info">
                <div class="text-box">
                    <span class="baner-label white-font">Условия подключения</span>
                    <span class="baner-address white-font">Информация об условиях подключения, технологии, протоколах</span>
                    <a class="connect-button" href="/connect">Оставить заявку на подключение</a>
                </div>
            </div>
            <div class="div-router">
                <img src="/static/images/connection.png" alt="">
            </div>
        </div>

        {% if url_to_internet %}
        <div class="connect-urls">
            <div class="connect-urls-box">
                <a class="connect-url" href="{{ url_to_internet }}">
                    <img src="/static/images/back.svg">
                    Вернуться назад
                </a>
            </div>
        </div>
        {% endif %}
        

        <div class="other-info conditions-info">
            {% for inf in lst %}
            <div class="info-block">
                <label class="block-label-info">{{ inf.label }}</label>
                <span class="block-text-info">{{ inf.info|replace('\n','<br>')|safe }}</span>
            </div>
            {% endfor %}
        </div>
        
    </div>


</div>



{% endblock content %}