{% extends "base.html" %}

{% block ya_metric %}
    {{ data.metrica_html|safe }}
{% endblock ya_metric %}

{% block meta_tag %}
    {% if data.header_html %}
        {{ data.header_html|safe }}
    {% endif %}
{% endblock meta_tag %}


{% block content %}

<div class="other-content">
    <div class="container-connect">
        <div class="connect-baner">
            <div class="baner-info">
                <div class="text-box">
                    <span class="baner-label">{{ templ.label }}</span>
                    <span class="baner-address">{{ data.name }}</span>
                    <div class="check-label-box">
                        <div class="check-label">
                            <img src="/static/images/check.svg">
                            <span>{{ templ.check1 }}</span>
                        </div>
                        <div class="check-label">
                            <img src="/static/images/check.svg">
                            <span>{{ templ.check2 }}</span>
                        </div>
                        <div class="check-label">
                            <img src="/static/images/check.svg">
                            <span>{{ templ.check3 }}</span>
                        </div>
                        <div class="check-label">
                            <img src="/static/images/check.svg">
                            <span>{{ templ.check4 }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="baner-picture-home">
                <img src="/static/images/home.png" alt="">
            </div>
        </div>

        <div class="connect-urls">
            <div class="connect-urls-box">
                <a class="connect-url" href="/conditions?url_redirect={{ request.path }}">
                    <img src="/static/images/info.svg">
                    Условия подключения
                </a>
                <a class="connect-url" href="/advanced?url_redirect={{ request.path }}">
                    <img src="/static/images/settings.svg">
                    Дополнительные услуги
                </a>
                <a class="connect-url" href="/devices?url_redirect={{ request.path }}">
                    <img src="/static/images/router.svg">
                    Оборудование
                </a>
            </div>
                
        </div>

        <div class="connect-info">
            <div class="connect-info-box">
                <span class="tarif-label">{{ templ.label_tarif }}</span>
            </div>

            <div class="tarif-container">
                {% for c, tarif in tarifs %}
                    <div class="tarif-unit">
                        <div class="act-box">
                            {% if tarif.act %}
                            <a href="javascript: showSimpleModal('Данные по акции', '{{ tarif.act_info|replace('\n', '<br>')|safe }}')">Акция</a>
                            {% endif %}
                        </div>
                        <div class="tarif-name">
                            <span>
                                <img src="/static/images/wifi.svg">
                                {{ tarif.name_t }}
                            </span>
                        </div>

                        <div class="tarif-info">
                            <span class="tarif-info-1">Стоимость тарифа</span>
                            <span class="tarif-info-2">{{ tarif.price }}</span>
                        </div>

                        <div class="tarif-info">
                            <span class="tarif-info-1">Скорость</span>
                            <span class="tarif-info-2">{{tarif.speed }}</span>
                        </div>

                        <a class="tarif-connect" href="/connect?address={{ data.name }}">Подключить</a>
                    </div>

                    <!--
                    классы popup-window и window описаны в style.css
                    они общие для всех окон
                    -->
                {% endfor %}
            </div>
        </div>

        <script>
            function openPopup1(e) {
                $(e).fadeToggle(400);
                $('html').css({
                    overflow: 'hidden',
                    height: '100%'
                });
            };
        </script>
        
    </div>

    <div class="container-connect">
        <div>
            <span class="zone-label">{{ templ.label_zone }} {{ data.name }}</span>
        </div>
        <div class="zone-map">
            {{ data.zone_html|safe }}
        </div>
        
        
    </div>

</div>



{% endblock content %}